.light-pink-color
{
    background-color: #f9ebf9;
}

.zoom-effect {
    overflow: hidden; /* Ensures the image is cropped if it scales beyond the container */
    display: inline-block; /* Helps to align images neatly within parent containers */
}

.zoom-image {
    transition: transform 0.3s ease-in-out; /* Controls the speed of the zoom */
}

.zoom-image:hover {
    transform: scale(1.1); /* Adjust this value for more or less zoom */
}

.start-50 {
    left: 32% !important;
}

/* tabs section start */
.nav-underline .nav-link {
    border-bottom: 2px solid transparent; /* Default state with no underline */
    padding-bottom: 4px; /* Adds some space between text and underline */
    transition: border-bottom 0.3s ease; /* Smooth transition for underline */
}

.nav-underline .nav-link.active {
    border-bottom: 2px solid #000; /* Adds underline to active tab */
}

.nav-underline .nav-link:hover::after {
    width: 100%; /* Full-width underline on hover */
}


/* carausel section start */
.carousel-indicators button {
    width: 10px !important; /* Set the width */
    height: 10px!important; /* Set the height */
    border-radius: 50%; /* Make the buttons circular */
    background-color: #000; /* Color of the button (default black) */
    border: none; /* Remove any border */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.carousel-indicators .active {
    background-color: black; /* Color of the active indicator (blue) */
}

.carousel-indicators button:hover {
    background-color: #181919; /* Change color on hover (dark blue) */
}

/* for banner section  start */
.hover-underline {
    position: relative;
}

.hover-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
}

.hover-underline:hover::after {
    width: 100%;
}
/* for banner section  end */